.cart{
    margin: auto;
    display: flex;
    width: 70%;
    height: 210px;
    margin-top: 40px;
    background-color: blueviolet;
}

.imgcart{
background-color: chartreuse;
height: 100%;
width: 250px;
}

.imgcart img{
    width: 100%;
    overflow: hidden;
    height: 100%;
    }
    